/* Arquivo CSS desenvolvido por Jackson Dultra */


/* Reset */


/* Cor principal #265358 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    height: 120px;
    background-color: #265358;
    display: flex;
    justify-content: center;
}

header nav {
    width: 1200px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 220px;
    height: 80px;
}

header nav ul {
    max-width: 980px;
    height: 30px;
    display: flex;
    gap: 20px;
}

header nav ul li {
    width: fit-content;
    list-style-type: none;
}

header nav ul li a:link,
header nav ul li a:visited {
    color: #fafafa;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

header nav ul li a:hover {
    color: goldenrod;
}

main {
    width: 1200px;
}

main .banner {
    width: 1200px;
    height: 390px;
    background-color: #ececec;
}

.contents {
    width: 100%;
    height: 310px;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contents a {
    color: #121211;
}

.card {
    width: 368px;
    height: 270px;
    background-color: #fff;
    border: 1px solid #454545;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.card h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.card img {
    width: 348px;
    height: 160px;
}

footer {
    width: 1200px;
    background-color: #265358;
    color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer div ul {
    width: 290px;
    height: 140px;
    text-align: center;
}

footer div ul li {
    list-style-type: none;
    margin-top: 10px;
}

footer div ul li a:link,
footer div ul li a:visited {
    font-family: sans-serif;
    font-size: 14px;
    color: #fafafa;
    text-decoration: none;
}

footer div ul li a:hover {
    color: goldenrod;
}

footer p {
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 40px;
}

.lh {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.lh p {
    font-size: 24px;
    text-align: center;
    line-height: 100px;
}


/*------------------------------------------------     CSS DA PAGINA MANUTENÇÃO     ------------------------------------------------- */

.content {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.content h2 {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.content div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.content div img {
    width: 780px;
    height: 440px;
}

.content div p {
    width: 360px;
}

a:link,
a:visited,
a:hover {
    text-decoration: none;
}